
.button {
  background-color: #f03f35;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
}
.small_button {
    background-color: lightsteelblue;
  border: none;
  color:darkslategrey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
    width: 120px;
    border-radius: 2px;
}
#AskMateHeader {
    background-color: #b7e3e4;
    padding: 30px;
    text-align: center;
     font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color: #f03f35;
    font-size: xxx-large;
}
#Header2 {
    background-color: #b7e3e4;
    padding: 30px;
    text-align: center;
     font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color: #f03f35;
    font-size: xx-large;
}


table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    }
th, td {
    padding: 15px;
    }
th {
    text-align: left;
}
ul {
    display: inline;
}

body {
  margin: 10px;
  padding: 0;
  font-family: 'Work Sans', sans-serif !important;
  color: darkslategrey;
    font-weight: 300;
    background-color: #EDF4F3;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif !important;
 font-weight: 900;
    font-size: xx-large;
    color: #f03f35;
}
p {
    margin: 10px;
    font-family: 'Work Sans', sans-serif !important;
    color: darkslategrey;
    font-weight: 300;

}

.filterForm {
    float: left
}
