<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<h1 id="AskMateHeader">Ask Mate<br></h1><h2 id= "Header2" >List of all questions</h2><br>


    <form class="filterForm">
        <label for="sort_list">How you wanted sorted?</label>
        <select name="sort_list" id="sort_list">
            {% for header in headers %}
                <option value="{{ header }}" {% if selected_header==header %}selected{% endif %}>{{ header }}</option>
            {% endfor %}
        </select>
            <button type="submit">Filter</button>
    </form>



    <form class="filterForm" action="/search">
      <div>
        <input type="search" id="app_search" name="q"
         placeholder="Search the site..."
         aria-label="Search through site content">
        <button>Search</button>
      </div>
    </form>




    <table style="width:100%">

        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for story in stories %}
                <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == "id" %}
                              <a href="{{ url_for("display_a_question", id=story.id) }}">{{ story[header] }}</a>
                            {% elif header == "view_number" %}
                                {{ story[header] }} views
                            {% elif header == "vote_number" %}
                                {{ story[header] }} votes
                            {% elif header == "image" %}
                                <img src="../../static/{{story[header]}}" width="70" height="50" alt="photo" title="photo" border="0">
                             {% else %}
                                {{ story[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>

                            <a href="{{ url_for("vote_question_up", id=story.id)  }}" ><i class="fa fa-thumbs-o-up" style="font-size:30px;color:#f03f35"></i></a>
                            <a href="{{ url_for("vote_question_down", id=story.id) }}" ><i class="fa fa-thumbs-o-down" style="font-size:30px;color:#f03f35"></i></a>

                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><br><a href="{{ url_for("add_question", id=id) }}"><button class="small_button">add new question</button></a><br></p>


</body>
</html>
