<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <style>

        #AskMateHeader {
            background-color: lightsteelblue;
            color: darkslategrey;
            padding: 30px;
            text-align: center;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        th, td {
            padding: 15px;
            }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 id="AskMateHeader">List of all questions</h1>
    <table style="width:100%">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for story in stories %}
                <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == "view number" %}
                                {{ story[header] }} views
                            {% elif header == "vote number" %}
                                {{ story[header] }} votes
                            {% else %}
                                {{ story[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
