<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1 id="AskMateHeader">Ask Mate<br></h1><h1 id= "AskMateHeader" >List of all questions</h1><br>
    <form>
        <label for="sort_list">How you wanted sorted?</label>
        <select name="sort_list" id="sort_list">
            {% for header in headers %}
                <option value="{{ header }}" {% if selected_header==header %}selected{% endif %}>{{ header }}</option>
            {% endfor %}
        </select>
            <button type="submit">Filter</button>
    </form>



    <form action="/search">
      <div>
        <input type="search" id="app_search" name="q"
         placeholder="Search the site..."
         aria-label="Search through site content">
        <button>Search</button>
      </div>
    </form>
    <table style="width:100%">

        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for story in stories %}
                <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == "id" %}
                              <a href="{{ url_for("display_a_question", id=story.id) }}">{{ story[header] }}</a>
                            {% elif header == "view_number" %}
                                {{ story[header] }} views
                            {% elif header == "vote_number" %}
                                {{ story[header] }} votes
                             {% else %}
                                {{ story[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for("vote_question_up", id=story.id) }}"><button class="small_button">vote up</button></a>
                        <a href="{{ url_for("vote_question_down", id=story.id) }}"><button class="small_button">vote down</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><a href="{{ url_for("add_question", id=id) }}"><button class="small_button">add new question</button></a><br>


</body>
</html>
