<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question['title'] }}</title>
   <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <div class="upper_left">
    <a href="{{ url_for("list_questions") }}"><button class="button">Home page</button></a>
    </div>
    <h1 id="Header2">{% for item in question %} {{ item.title }} {% endfor %}</h1>
    <br>
    <p>{% for item in question %}
        {{ item.message }}<br>
        <img src="../../static/{{item.image}}" width="500" height="600" alt="photo">

        {% endfor %}
    </p>
        <br>
    <h2 id="AskMateHeader">Answers:</h2>

        <table style="width:100%">
        <thead>
            <tr>
                {% for header in answers_headers if header != 'id' %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    {% for header in answers_headers if header != 'id' %}
                        <td>
                            {% if header == "vote_number" %}
                                {{ answer[header] }} votes
                            {% else %}
                                {{ answer[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for("delete_an_answer", answer_id=answer["id"],id=id) }}"><i class="fa fa-trash-o" style="font-size:30px;color:#f03f35"></i></a>
                        <a href="{{ url_for("vote_answer_up", answer_id=answer["id"], id=id) }}"><i class="fa fa-thumbs-o-up" style="font-size:30px;color:#f03f35"></i></a>
                        <a href="{{ url_for("vote_answer_down", answer_id=answer["id"], id=id) }}"><i class="fa fa-thumbs-o-down" style="font-size:30px;color:#f03f35"></i></a>
                        <a href="{{ url_for("edit_answer", answer_id=answer["id"], id=id) }}"><i class="fa fa-pencil-square-o" style="font-size:30px;color:#f03f35"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="actions">

        <a href="{{ url_for("add_new_answer", id=id) }}"><button class="small_button">add new answer</button></a>

        <a href="{{ url_for("edit_question", id=id) }}"><button class="small_button">edit question</button></a>

        <a href="{{ url_for("delete_a_question", id=id)}}"><button class="small_button">delete question</button></a>

    </div>
</body>

</html>
