<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if comment == None %}
        <title>Add comment</title>
    {% else %}
        <title>Edit comment</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <div class="upper_left">
         <br><a href="{{ url_for("list_questions") }}"><button class="button">Home page</button></a><br>
    </div>
        {% if comment == None %}
              <h1 id= "AskMateHeader">Add comment</h1>
                 <form action="{{ url_for("add_new_comment_to_question", id=id, comment=comment) }}" method="post">
                     <label for="message">Message</label><br>
                     <textarea name="message" id="message" minlength="5" maxlength="5000" ></textarea><br><br>

                     <input name="edited_count" id="edited_count" type="hidden" value="{{ comment["edited_count"] }}">


                     <p><input type="submit" value="submit comment" class="small_button"></p>
                     </form>
          {% else %}
              <h1 id= "AskMateHeader">Edit comment</h1>
                 <form action="{{ url_for("edit_question_comment", id=id, comment=comment, comment_id=comment["id"]) }}" method="post">
                     <label for="message">Message</label><br>
                     <textarea name="message" id="message" minlength="5" maxlength="5000">{{ comment["message"] }}</textarea><br><br>
                     <input name="edited_count" id="edited_count" type="hidden" value="{{ comment["edited_count"] }}">

                     <input name="id" id="id" type="hidden" value="{{ comment["id"] }}">
                     <p><input type="submit" value="submit comment" class="small_button"></p>
                 </form>
          {% endif %}










</body>
</html>
