<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new question!</title>
</head>
<body>
        <h1>Ask new question!</h1>
         <form>
             <label for="title">Title</label><br>
             <input name="title" id="title" type="text" minlength="5" maxlength="50"> <br><br>


             <label for="message">Message</label><br>
             <textarea name="message" id="message" minlength="5" maxlength="5000" ></textarea><br><br>
         <br>
             <input type="submit" value="submit">

         </form>
</body>
</html>