<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="upper_left">
    <a href="{{ url_for("list_questions") }}"><button class="button">Home page</button></a>
    </div><br>
<h1 id="AskMateHeader">Ask Mate<br></h1><h2 id= "Header2" >Search results</h2><br>
    <h3>questions</h3>
    <div>
    {% for question in questions %}
           {{ question.title + "  " + question.message }}<br><br>
        {% endfor %}
    </div>
    <h3>answers</h3>
    <div>
    {% for answer in answers %}
           {{ answer.message }}<br>
        {% endfor %}
    </div>


</body>
</html>
